#events .own-event:first-child {
    font-weight: bold;
    font-size: 1.15em;
    background-color: rgba(216, 215, 215, 0.673);
}

.friend-event {
    font-style: italic;
    background-color: cornsilk;
}