{
  "users": [
    {
      "id": 1,
      "fullName": "Ryan Crowley",
      "email": "ryan@ryan.com",
      "password": "asdf"
    },
    {
      "id": 2,
      "fullName": "Guy Cherkesky",
      "email": "guy@guy.com",
      "password": "asdf"
    },
    {
      "id": 3,
      "fullName": "Ryan Bishop",
      "email": "ryanB@ryanb.com",
      "password": "asdf"
    },
    {
      "id": 4,
      "fullName": "Trey Suiter",
      "email": "trey@trey.com",
      "password": "asdf"
    }
  ],
  "articles": [
    {
      "id": 1,
      "userId": 4,
      "url": "http://www.google.com",
      "title": "Trey's Article",
      "synopsis": "This is a search engine, it's a really long read.",
      "timestamp": "2019-12-03T17:09:51.663Z"
    },
    {
      "id": 2,
      "userId": 3,
      "url": "http://www.facebook.com",
      "title": "Bishop's Article",
      "synopsis": "This is a social media site, not an article at all!",
      "timestamp": "2019-12-04T17:09:51.663Z"
    },
    {
      "id": 3,
      "userId": 2,
      "url": "http://www.instagram.com",
      "title": "Guy's Article",
      "synopsis": "This is a social media site, not an article at all!",
      "timestamp": "2019-12-05T17:09:51.663Z"
    },
    {
      "id": 4,
      "userId": 1,
      "url": "http://www.starwars.com",
      "title": "Crowley's Article",
      "synopsis": "Site for nerds, not so much a news article",
      "timestamp": "2019-12-06T17:09:51.663Z"
    }
  ],
  "messages": [
    {
      "id": 1,
      "userId": 4,
      "message": "Sup y'all.",
      "timestamp": "2019-12-03T17:09:51.663Z"
    },
    {
      "id": 2,
      "userId": 3,
      "message": "Not much.",
      "timestamp": "2019-12-04T17:09:51.663Z"
    },
    {
      "id": 3,
      "userId": 4,
      "message": "Did you guys see the Mandalorian?",
      "timestamp": "2019-12-05T17:09:51.663Z"
    },
    {
      "id": 4,
      "userId": 1,
      "message": "HEY JUST GOt here whoops caps lock",
      "timestamp": "2019-12-06T17:09:51.663Z"
    }
  ],
  "events": [
    {
      "id": 1,
      "userId": 4,
      "eventName": "Party",
      "eventDate": "2019-12-03T17:09:51.663Z",
      "location": "Hackery"
    },
    {
      "id": 2,
      "userId": 3,
      "eventName": "Another Party",
      "eventDate": "2019-12-04T17:09:51.663Z",
      "location": "Snackery"
    },
    {
      "id": 3,
      "userId": 2,
      "eventName": "Meetup",
      "eventDate": "2019-12-05T17:09:51.663Z",
      "location": "Nashville"
    },
    {
      "id": 4,
      "userId": 1,
      "eventName": "Lunch",
      "eventDate": "2019-12-06T17:09:51.663Z",
      "location": "Sonic Drivethru"
    },
    {
      "id": 5,
      "userId": 1,
      "eventName": "Get new DL",
      "eventDate": "2019-12-07T17:09:51.663Z",
      "location": "DMV"
    },
    {
      "id": 6,
      "userId": 1,
      "eventName": "Get new DL",
      "eventDate": "2019-12-07T17:09:51.663Z",
      "location": "DMV"
    }
  ],
  "tasks": [
    {
      "id": 1,
      "userId": 1,
      "task": "Write Code",
      "isComplete": false
    },
    {
      "id": 2,
      "userId": 1,
      "task": "Read Books",
      "expectedCompletionDate": "2019-12-02T17:09:51.663Z",
      "isComplete": false
    },
    {
      "id": 3,
      "userId": 1,
      "task": "Eat",
      "isComplete": false
    },
    {
      "id": 4,
      "userId": 1,
      "task": "Sleep",
      "isComplete": false
    },
    {
      "id": 5,
      "userId": 1,
      "task": "Sleep Well",
      "isComplete": false
    }
  ],
  "friends": [
    {
      "id": 1,
      "userId": 2,
      "loggedInUser": 1
    },
    {
      "id": 2,
      "userId": 3,
      "loggedInUser": 1
    }
  ]
}